{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true,
            "targets": {
              "node": 10
            }
          }
        ]
      ],
      "plugins": [
        "./build/babel-plugin"
      ]
    },
    "coverage": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true,
            "targets": {
              "node": 10
            }
          }
        ]
      ],
      "plugins": [
        [
          "istanbul",
          {
            "exclude": [
              "src/blob.js",
              "build",
              "test"
            ]
          }
        ],
        "./build/babel-plugin"
      ]
    },
    "rollup": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true,
            "targets": {
              "node": 10
            },
            "modules": false
          }
        ]
      ]
    }
  }
}
